body{
    background-image: url('images/blobs.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
@media(max-width:800px) {
    body{
        background-size: 100% 100%;
    }
}