/* font weights */
/* 200 - extra light */
/* 300 - light */
/* 400 - regular */
/* 500 - medium */
/* 600 - semibold */
/* 700 - bold */
/* 800 - extra bold */

/* ------------------------------------------------------ */

body{
  font-family: "Bricolage Grotesque", sans-serif ; 
  background-color: #FAF9F6;
  color: #222222;
  /* background-image: url('images/blobs.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%; */
}
html{
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
}
.bg-blobs{
    position: relative;
    z-index: -1;
}
/* --------------------------------------------------------- */
/* navbar */
nav{
    position: sticky;
    top: 0;
    background-color: #FAF9F6;
    height: 3rem;
    border-bottom: #222222 1px solid;
    display: grid;
    align-items: center;
    z-index: 2;
}
.nav{
    margin: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav h3{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}
.nav a {
    color: #222222;
    margin-left: 1.5rem;
    font-weight: 500;
    text-decoration: none;

    display: inline-block;
    padding-bottom:1px;
    background-image: linear-gradient(#000 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s;
}
.nav a:hover{
    background-position: 100% 100%; 
    background-size: 100% 2px;
}
.sidebar a{
    color: #222222;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 1rem;
    display: inline-block;
    padding-bottom:1px;
    background-image: linear-gradient(#000 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s;
}
.sidebar a:hover{
    background-position: 100% 100%; 
    background-size: 100% 2px;
}
.sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100%;
    width: 15rem;
    /* backdrop-filter: blur(12px); */
    background-color: #FAF9F6;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
  }

.menu-button{
    display: none;
    border: none;
    background-color: transparent;
}
.close-button{
    border: none;
    background-color: transparent;
    padding: 0;
    margin-bottom: 1rem;
}

@media(max-width: 800px){
    #hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
    body{
        overflow-x: hidden;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }

/* ------------------------------------------------------ */
/* content */
.content{
    width: 100;
    margin: 0 3rem;
    padding: 0;
}

.section{
    height: calc(100vh - 3rem);
    width: 100%;
    display: flex;
}
.section:last-child{
    height: calc(100vh - 6rem);
}
.header{
    font-size: 7rem;
    font-weight: 700;
}

/* ------------ */
/* home */
#cover{
    width: 100%;
}


/* ------------ */
/* about */
#about-sec{
    display: flex;
    flex-direction: column;
}
.about-content{
    margin-top: 3%;
}
.row {
    flex: 0 0 0;
}
div.about-content.row{
    height: max-content;
}
.about-content>.col-auto{
    margin-right: 3rem;
}
.about-content>.col{
    margin-right: 2rem;
}
#profile-pic{
    height: min-content;
}
#about-sec h3, #about-sec h1{
    font-weight: 700;
}
.subtitle-top{
    margin-top: 1.2rem;
}
.subtitle-bottom{
    margin-bottom: 1rem;
}
.pill{
    display: inline-block;
    border: #2638B7 1px solid;
    border-radius: 20px;
    padding: 0.3rem 1rem;
    margin-right: 0.3rem;
    color: #2638B7;
    margin-bottom: 0.3rem;
}
.pill:hover{
    background-color: #2638B7;
    color: #FAF9F6;
    span.material-symbols-outlined{
        color: #FAF9F6;
    }
}
.pill-xs{
    display: inline-block;
    border: #2638B7 1px solid;
    border-radius: 20px;
    padding: 0.1rem 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.2rem;
    color: #2638B7;
}
.pill-xs:hover{
    background-color: #2638B7;
    color: #FAF9F6;
}
li{
    margin-bottom: 0.5rem;
    padding: 0;
}
ul {
    list-style: url('images/icons/sparkle.svg');
    list-style-position: outside;
    padding-left: 20px;
    margin: 0; 
}
ul li {
    padding-left: 5px; 
}

/* --------- */
/* projects */
#projects-sec{
    display: flex;
    flex-direction: column;
}
.project-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    /* padding: 1rem; */
    margin-top: 3%;
}
.project-list a {
    text-decoration: none;
    align-items: center;
    border-bottom: #222222 1px solid;
    padding: 1rem 0;
    width: 100%;
    margin: 0;
}
.list-txt{
    color: #222222;
    font-size: 1.75rem;
    font-weight: 600;
}
.list-number{
    color: #2638B7;
}
span.material-symbols-outlined {
    /* font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal; */
    font-size: 32px;  
    color: #222222; 
    transform: rotate(-45deg);
    vertical-align: middle;
}

.project-list a:hover{
    background-color: #2638B7;
    .list-txt, span.material-symbols-outlined{
        color: #FAF9F6;
    }
    span.material-symbols-outlined{
        transform: rotate(0deg);
        transition: 200ms linear;
    }
}

/* ---------- */
/* contacts */

#contacts-sec{
    display: flex;
    flex-direction: column;
}
.subtitle-txt {
    font-weight: 500;
    font-size: 18px;
}
.contact-list{
    margin-top: 3%;
    margin-left: auto;
}
.contact-list a{
    text-decoration: none;
    align-items: center;
    border-bottom: #222222 1px solid;
    width:65vw;
    margin: 0;
    padding: 0.5rem 0;
}
.contact-title{
    color: #2638B7;
}
.small-link{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.contact-list a:hover{
    background-color: #2638B7;
    .list-txt, .contact-title, span.material-symbols-outlined{
        color: #FAF9F6;
    }
    span.material-symbols-outlined{
        transform: rotate(0deg);
        transition: 200ms linear;
    }
}
  
/* ----------------------------------------------------------- */
/* project pages */

.proj-title{
    font-weight: 800;
    /* margin-bottom: 2rem; */
    font-size: 4rem;
}
.proj-subtitle{
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.proj-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8%;
    height:calc(100vh - 9rem);
    margin-top: 3rem;
    margin-bottom: 4.5rem;
}
.links{
    position: absolute;
    bottom: 3rem;
}
.proj-link{
    text-decoration: none;
    color: #222222;
    align-items: center;
}
.pill>span.material-symbols-outlined{
    font-size: 24px;  
    color: #2638B7; 
    transform: rotate(-45deg);
    vertical-align: top;
}
.mockup-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px ;
}
.gallery-div{
    margin-bottom: 3rem;
}
.header-gallery{
    font-size: 7rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
#carouselGallery{
    width: 100%;
    height: calc(100vh - 6rem);
}
.carousel-item{
    height: calc(100vh - 6rem);
    width: 100%;
}
.carousel-item img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.carousel-control-prev, .carousel-control-next{
    width: 5%;
    height: 90%;
    filter: invert(90%);
}

/* ------------------------------------------------------------- */
/* footer */
footer{
    border-top: #222222 1px solid;
    height: 3rem;
    display: grid;
    align-items: center;
    /* background-color: #FAF9F6; */
}
#footer{
    margin: 0 3rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footer p{
    margin: 0;
}


/* --------------------------------------- */
/* responsive */

/* index */
@media(min-height: 800px) {
    .section{
        height: calc-size(min-content, size + 7rem);
    }
    .section:first-child{
        height: calc(100vh - 3rem)
    }
    .section:last-child{
        height: calc-size(min-content, size + 7rem);
    }
}
@media(max-height: 700px) {
    .section{
        height: calc-size(min-content, size + 3rem);
    }
    /* .section:first-child{
        height: calc-size(max-content, size + 3rem);
    } */
    .section:last-child{
        height: calc-size(min-content, size + 3rem);
    }
}

@media(max-width:1460px){
    .about-content>.col-auto{
        margin-right: 2rem;
    }
    .about-content>.col{
        margin-right: 1rem;
    }
}
@media(max-width:1420px){
    .about-content>.col-auto{
        display: flex;
        align-items: center;
    }
    #profile-pic{
        width: 25vw;
    }
    .about-content{
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
    }
}
@media(max-width:1090px){
    .list-txt{
        font-size: 1.4rem;
    }
    .col-9{
        width: 60%; /*normal é 75*/
    }
    .header{
        font-size: 6rem;
    }
    .project-list{
        gap: 2rem;
    }
}
@media(max-width:1015px){
    #profile-pic{
        width: 90%;
    }
    .about-content{
        display: flex;
    }
    .second-col{
        display: flex;
        flex-direction: row;
        width: 100vw;
        margin-top: 2rem; 
    }
    .experience-div{
        margin-left: 3rem;
    }
    .experience-div h3{
        margin-top: 0;
    }
}

@media(max-width:920px){
    .header{
        font-size: 5rem;
    }
    .first-col h1{
        font-size: 1.75rem;
    }
    #about-sec h3{
        font-size: 1.25rem;
    }
    #about-sec p, #about-sec span{
        font-size: 0.85rem;
    }
    .about-content>.col-auto{
        margin: 0.5rem;
    }
    .first-col img {
        height: 2.25rem;
        width: 2.25rem;
    } 
    .section:first-child{
        height: calc(100vh - 3rem);
    } 
    .subtitle-txt{
        font-size: 1rem;
    }
}
@media(max-width:875px){
    .project-list{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .col-9{
        width: 75%;
    }
    .contact-list{
        margin-left: 0;
    }
    .contact-list a{
        width: 100%;
    }
}
@media(max-width:750px){
    .about-content{
        display: flex;
        flex-direction: column;
    }
    #profile-pic{
        height: 50vh;
        margin-bottom: 2rem;
    }
    .header{
        font-size: 3.5rem;
    }
    .subtitle-txt{
        font-size: 0.85rem;
    }
    .experience-div{
        margin-left: 1rem;
    }
    .small-link{
        font-size: 0.75rem;
    }
}
@media(max-width:550px){
    .second-col{
        flex-direction: column;
    }
    .experience-div{
        margin-left: 0;
    }
    .experience-div h3{
        margin-top: 1rem;
    }
    .col-9{
        width: 60%;
    }
}
@media(max-width:480px){
    .list-txt{
        font-size: 1.1rem;
    }
    span.material-symbols-outlined{
        font-size: 26px;
    }
}

/* project page */
@media(max-height:700px){
    .links{
        position: initial;
        margin-top: 2rem;
    }
    .proj-content, .gallery-div{
        height: min-content;
    }
    .proj-content{
        margin-bottom: 1.5rem;
    }
    .gallery-div{
        margin-bottom: 2rem;
    }
}
@media(max-width:1200px){
    .proj-content{
        display: flex;
        flex-direction: column;
    }
    .proj-content, .gallery-div{
        height: min-content;
    }
    .mockup-img{
        display: none;
    }
    .links{
        position: initial;
        margin-top: 2rem;
    }
    #carouselGallery{
        height: auto;
    }
    .carousel-item{
        height: 100%;
    }
    .carousel-item img{
        max-height: calc(100vh - 6rem);
        max-width: 100%;
    }
}
@media(max-width:800px){
    .proj-content{
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
    .proj-title{
        font-size: 3rem;
    }
    .proj-subtitle{
        font-size: 1.2rem;
    }
    .proj-content p, .proj-content span{
        font-size: 0.85rem;
    }
    .proj-content img{
        width: 2.25rem;
        height: 2.25rem;
    }
    .pill>span.material-symbols-outlined{
        font-size: 20px;  
        color: #2638B7; 
        transform: rotate(-45deg);
        vertical-align: top;
    }
    .header-gallery{
        font-size: 4.5rem;
        margin-bottom: 2rem;
    }
}

/* footer */
@media(max-width:800px){
    #footer{
        font-size: smaller;
    }
}
@media(max-width:670px){
    #footer{
        flex-direction: column;
        align-items: center;
    }
}
